<!DOCTYPE html>
<html>
    <html>
        <head>      
                    {% extends "song_list.html" %}
                    {% block graph %}
                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                    <script type="text/javascript">
                    google.charts.load("current", {packages:['corechart']});
                    google.charts.setOnLoadCallback(drawChart);
                    function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                    ["Element", "Density", { role: "style" } ],
                    ["Speechiness", {{ aritist.feature.speechiness }},""],
                    ["Liveness", {{ aritist.feature.liveness }},""],
                    ["Acousticness", {{ aritist.feature.acousticness }},""],
                    ['Energy', {{ aritist.feature.energy }},""],
                    ['Valence', {{ aritist.feature.valence }},""],
                    ['Danceability',{{ aritist.feature.danceability }},""],
                    ['Mode',{{ aritist.feature.mode }},""],
                    ['key',{{aritist.feature.key}},""],
                    ['BPM',{{aritist.feature.bpm}},""]
                    ]);

                    var view = new google.visualization.DataView(data);
                    view.setColumns([0, 1,
                                { calc: "stringify",
                                  sourceColumn: 1,
                                  type: "string",
                                  role: "annotation" },
                                2]);

                    var options = {
                        title: {{aritist.name}},
                        width: 600,
                        height: 400,
                        bar: {groupWidth: "45%"},
                        legend: { position: "none" },
                        };
                var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
                chart.draw(view, options);}
          </script>
          <div id="columnchart_values" style="width: 900px; height: 300px;"></div>
          {% endblock %}         
         </head>
    </html>
</html>