<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>
<body>
    <div class="container w-70">
        <div class="d-flex justify-content-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/26/Spotify_logo_with_text.svg" alt="Spotify Logo">
        </div>
        <form method="get" action=".">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="q" placeholder="Search..." aria-label="Search" aria-describedby="button-search">
                <button class="btn" style="background-color: #1DB954;" type="submit" id="button-search">
                    <i class="bi bi-search text-white"></i>
                </button>
            </div>
        </form>
        {% if query %}
            <p>You searched for: <strong>{{ query }}</strong></p>
            {% if results %}
            <div class="table-responsive small">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Song</th>
                            <th>Artist</th>
                            <th>Speechiness</th>
                            <th>Liveness</th>
                            <th>Acousticness</th>
                            <th>Energy</th>
                            <th>Valence</th>
                            <th>Danceability</th>
                            <th>Mode</th>
                            <th>Key</th>
                            <th>BPM</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                            <tr>
                                {% if result.feature.oner %}
                                <td></td>
                                {% else %}
                                <td>{{ result.feature.name }}</td>
                                {% endif %}
                                <td><a href="{% url 'search:songlist' artist_name=result.artist %}">{{ result.artist }}</a></td>
                                <td>{{ result.feature.speechiness }}</td>
                                <td>{{ result.feature.liveness }}</td>
                                <td>{{ result.feature.acousticness }}</td>
                                <td>{{ result.feature.energy }}</td>
                                <td>{{ result.feature.valence }}</td>
                                <td>{{ result.feature.danceability }}</td>
                                <td>{{ result.feature.mode }}</td>
                                <td>{{ result.feature.key }}</td>
                                <td>{{ result.feature.bpm }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <p>No results found.</p>
            {% endif %}
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
