<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>
<body>
    <div class="container w-70">
        <div class="d-flex justify-content-center">
            <a href="{% url 'search:search' %}">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/26/Spotify_logo_with_text.svg" alt="Spotify Logo">
            </a>
        </div>
        <form method="get" action=".">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="q" placeholder="Search..." aria-label="Search" aria-describedby="button-search">
                <button class="btn" style="background-color: #1DB954;" type="submit" id="button-search">
                    <i class="bi bi-search text-white"></i>
                </button>
            </div>
        </form>
        {% if query %}
            <p>You searched for: <strong>{{ query }}</strong></p>
            {% if results %}
            <div class="table-responsive small">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Song</th>
                            <th>Artist</th>
                            <th>Speechiness</th>
                            <th>Liveness</th>
                            <th>Acousticness</th>
                            <th>Energy</th>
                            <th>Valence</th>
                            <th>Danceability</th>
                            <th>instrumentalness</th>
                            <th>Mode</th>
                            <th>Key</th>
                            <th>BPM</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                            <tr>
                                <td>{{ result.feature.name }}</td>
                                <td><a href="{% url 'search:songlist' artist_name=result.artist %}">{{ result.artist }}</a></td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ result.feature.speechiness }}%;" aria-valuenow="{{ result.feature.speechiness }}" aria-valuemin="0" aria-valuemax="100">
                                            {% if result.feature.speechiness >= 20 %}
                                            {{ result.feature.speechiness }}%
                                            {% endif %}
                                        </div>
                                        {% if result.feature.speechiness < 20 %}
                                        {{ result.feature.speechiness }}%
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ result.feature.liveness }}%;" aria-valuenow="{{ result.feature.liveness }}" aria-valuemin="0" aria-valuemax="100">
                                            {% if result.feature.liveness >= 20 %}
                                            {{result.feature.liveness}}%
                                            {% endif %}
                                        </div>
                                        {% if result.feature.liveness < 20 %}
                                        {{result.feature.liveness}}%
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div class="progress"role="progressbar" aria-label="Success example" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-success" style="width: {{ result.feature.acousticness }}%;">
                                            {% if result.feature.acousticness >= 20 %}
                                            {{ result.feature.acousticness }}%
                                            {% endif %}
                                        </div>
                                        {% if result.feature.acousticness < 20 %}
                                            {{ result.feature.acousticness }}%
                                            {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ result.feature.energy }}%;" aria-valuenow="{{ result.feature.energy }}" aria-valuemin="0" aria-valuemax="100">
                                            {% if result.feature.energy >= 20 %}
                                            {{result.feature.energy}}%
                                            {% endif %}
                                            
                                        </div>
                                        {% if result.feature.energy < 20 %}
                                        {{result.feature.energy}}%
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ result.feature.valence }}%;" aria-valuenow="{{ result.feature.valence }}" aria-valuemin="0" aria-valuemax="100">
                                            {% if result.feature.valence >= 20 %}
                                            {{result.feature.valence}}%
                                            {% endif %}
                                        </div>
                                        {% if result.feature.valence < 20 %}
                                            {{result.feature.valence}}%
                                            {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ result.feature.danceability }}%;" aria-valuenow="{{ result.feature.danceability }}" aria-valuemin="0" aria-valuemax="100">
                                            {% if result.feature.danceability >= 20 %}
                                            {{result.feature.danceability}}%
                                            {% endif %}
                                        </div>
                                        {% if result.feature.danceability < 20 %}
                                        {{result.feature.danceability}}%
                                        {% endif %}
                                    </div>
                                </td>
                                <td><div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ result.feature.instrumentalness }}%;" aria-valuenow="{{ result.feature.instrumentalness }}" aria-valuemin="0" aria-valuemax="100">
                                            {% if result.feature.instrumentalness >= 20 %}
                                            {{result.feature.instrumentalness}}%
                                            {% endif %}
                                        </div>
                                        {% if result.feature.instrumentalness < 20 %}
                                        {{result.feature.instrumentalness}}%
                                        {% endif %}
                                    </div>
                                </td>
                                <td>{{ result.feature.mode }}</td>
                                <td>{{ result.feature.key }}</td>
                                <td>{{ result.feature.bpm }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <p>No results found.</p>
            {% endif %}
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
