<!DOCTYPE html>
<html>
<head>
    <title>Song List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        th {
            cursor: pointer;
        }
    </style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ["요소", "밀도", { role: "style" }],
                ["Speechiness", {{ artist.feature.speechiness }}, ""],
                ["Liveness", {{ artist.feature.liveness }}, ""],
                ["Acousticness", {{ artist.feature.acousticness }}, ""],
                ["Energy", {{ artist.feature.energy }}, ""],
                ["Valence", {{ artist.feature.valence }}, ""],
                ["Danceability", {{ artist.feature.danceability }}, ""]
            ]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                { calc: "stringify",
                  sourceColumn: 1,
                  type: "string",
                  role: "annotation" },
                2]);

            var options = {
                title: "{{ artist.name }}",
                width: 600,
                height: 400,
                bar: {groupWidth: "45%"},
                legend: { position: "none" },
            };

            var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
            chart.draw(view, options);
        }
    </script>
</head>
<body>
    
    <div class="container mt-5">
        <div>
            <button class="btn btn-primary btn-sm" onclick="location.href='/'">Home</button>  
            <div id="columnchart_values" style="width: 900px; height: 400px;"></div>
        </div>
        <table class="table" id="song-table">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Song</th>
                    <th onclick="sortTable(1)">Artist</th>
                    <th onclick="sortTable(2)">Speechiness</th>
                    <th onclick="sortTable(3)">Liveness</th>
                    <th onclick="sortTable(4)">Acousticness</th>
                    <th onclick="sortTable(5)">Energy</th>
                    <th onclick="sortTable(6)">Valence</th>
                    <th onclick="sortTable(7)">Danceability</th>
                    <th onclick="sortTable(8)">Mode</th>
                    <th onclick="sortTable(9)">Key</th>
                    <th onclick="sortTable(10)">BPM</th>
                </tr>
            </thead>
            <tbody>
                {% for song_data in song_list %}
                    <tr>
                        <td>{{ song_data.song.name }}</td>
                        <td>{{ song_data.artist.name }}</td>
                        <td>{{ song_data.feature.speechiness }}</td>
                        <td>{{ song_data.feature.liveness }}</td>
                        <td>{{ song_data.feature.acousticness }}</td>
                        <td>{{ song_data.feature.energy }}</td>
                        <td>{{ song_data.feature.valence }}</td>
                        <td>{{ song_data.feature.danceability }}</td>
                        <td>{{ song_data.feature.mode }}</td>
                        <td>{{ song_data.feature.key }}</td>
                        <td>{{ song_data.feature.bpm }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var sortDirection = {};

        function sortTable(colIndex) {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("song-table");
            switching = true;
            var switchCount = 0;
            var dir = "asc";

            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("td")[colIndex];
                    y = rows[i + 1].getElementsByTagName("td")[colIndex];
                    var xContent = x.innerHTML.toLowerCase();
                    var yContent = y.innerHTML.toLowerCase();

                    if (!isNaN(xContent) && !isNaN(yContent)) {
                        xContent = parseFloat(xContent);
                        yContent = parseFloat(yContent);
                    }

                    if (dir == "asc") {
                        if (xContent > yContent) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (xContent < yContent) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchCount++;
                } else {
                    if (switchCount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
</body>
</html>